[2018-01-18 01:47] oliverjanik opened #1 "Prefix handling?"
Do you support prefix handling?

Say everything that hits /subpath  goes to http://example.com

E.g. /subpath/script.js  would go to http://example.com/script.js

[2019-01-09 07:11] tangkhaiphuong opened #4 "Does it support multi-part upload. When use with multi-part it hang"

[2019-01-09 10:10] tangkhaiphuong commented on #4
https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-2.2#uploading-large-files-with-streaming

Implement: [DisableFormValueModelBinding] to avoid it.

[2019-01-09 10:10] #4 closed

[2019-02-13 05:01] mvarga6 opened #5 "GET requests don't forward properly"
I'm forwarding requests from a Gateway API to a microservice API that implements standard REST routes using proper verbage.  This seems to work fine for POST, PUT, PATCH requests but not for GET and DELETE.  I viewed the source and noticed the request body is copied into route params for these verbs.

The simplest work-around I found was to send the exact request as POST and enable POST verb on th

[2019-03-14 06:55] twitchax commented on #5
@mvarga6, which line are you looking at that does a copy?

Are you passing a body in the `GET` that is not being forwarded?  If so, that is is not valid behavior, typically (see: https://stackoverflow.com/questions/978061/http-get-with-request-body).

If I am not understanding any of this correctly, then the best solution might be to look at the tests and give me an example test case that would fa

[2019-03-14 07:27] twitchax commented on #1
@oliverjanik, actually, you can already do this, but I did not know it was a thing.  I am using the builtin ASP.NET Core template router, which has a `*` semantic for this.  I added a test for this scenario, and it is shown off [here](https://github.com/twitchax/AspNetCore.Proxy/blob/master/src/Test/UnitTests.cs#L187).

[2019-03-14 07:27] #1 closed

[2019-03-15 09:45] ElVisPL opened #6 "[Authorize] attribute is ignored by proxy route"
Hey @twitchax

Is it somehow possible to deny not authorized requests?

`[Authorize]` attribute seems to be ignored for proxy method

[2019-03-16 08:00] twitchax commented on #6
Hi @ElVisPL,

At present, this would be a bit difficult.  The proxying nature of the attribute is designed to work "outside" of MVC.  The only way to get attribute to work would be to put the proxying methods in a `Controller`.  Unfortunately, that comes with some baggage that I have yet to investigate.

I recently updated the definition for `UseProxy` to allow you to inspect the `HttpContext`.  A

[2019-03-16 08:04] twitchax commented on #6
@ElVisPL, well, I still liked your idea, so I decided to run with it.

I did not explicitly try `Authorize`, but I exposed the proxying functionality as an extension method on `Controller`, which should work just fine.  Please check out the new readme and let me know how it works.

The commit is [here](https://github.com/twitchax/AspNetCore.Proxy/commit/f1f5eb823661a5433f84955f5c0af3d75e288e8d).

[2019-03-16 08:04] #6 closed

[2019-03-16 18:47] ElVisPL commented on #6
@twitchax It works perfectly and brings whole new possibilities!

Do you plan to update nuget version in the near future?

[2019-03-16 21:58] twitchax commented on #6
Yep: will do!

[2019-03-16 22:34] twitchax commented on #6
@ElVisPL, just added a GitHub Action for releases and pushed to NuGet. :)

Thanks for the suggestion.

[2019-03-27 04:21] twitchax commented on #5
@mvarga6, ping? :)

[2019-03-28 00:34] mvarga6 commented on #5
@twitchax Sorry for the delay.  No, I was not forwarding a body with the `GET`.  We've since change the design to not require this proxy but I will still try to provide the minimal code to reproduce.  I'll follow up with that a little later.

[2019-05-23 03:05] baoduy opened #12 "Authentication Token"
It really nice library for B2B communication. I just have a small question regarding to authentication when calling the second API.

Thanks
Duy

[2019-05-23 06:56] twitchax commented on #12
@baoduy, cool, what's your question?

[2019-05-23 09:05] baoduy commented on #12
@twitchax As you know each API has it own authentication and authorization, How could I apply the authentication context when using this library?

[2019-05-23 18:47] twitchax commented on #12
If you use a [built-in controller](https://github.com/twitchax/AspNetCore.Proxy#existing-controller), you can use your existing Web API authentication without and issues.

[2019-05-30 21:54] TonyAdamo opened #13 "POST Handling?"
Is AspNetCore.Proxy able to handle POST requests? If so, is there documentation that can be provided for it?

[2019-05-31 06:58] twitchax commented on #13
@TonyAdamo, yes, good idea on adding docs.

Also, yes.  The HTTP METHOD and headers are forwarded as best as possible, so all you have to do is compute the proxied address.  All HTTP METHODs will just be sent over the wire to the proxied address as they were received.

Take a look at the tests for a POST example or two.

[2019-06-07 06:48] #12 closed

[2019-06-10 20:12] twitchax commented on #13
Closing since question answered.

[2019-06-10 20:12] #13 closed

[2019-06-25 16:55] twitchax commented on #5
Closing until there is a repro. :)

[2019-06-25 16:55] #5 closed

[2019-07-03 10:46] urffin opened #15 "Custom process response for one of ther proxy url"
Is it possibly add custom process response for specifix proxy url?

For example:

proxy url

    app.UseProxy("api/{*proxy}", (context, routeData) => $"https://custom.domain/{routeData["proxy"]}{context.Request.QueryString}");

for url "https://custom.domain/jsonresult" returned json string like

    "{\"param1\":  \"param1_value\"}"

Can i somehow modify it just for this url before returning?

[2019-07-04 04:43] twitchax commented on #15
@urffin, I'm not sure I understand.

You want to proxy a request; then, modify the proxied response before passing it back to the client?

If yes, then that is currently _not_ possible, but likely an easy addition.

[2019-07-04 06:43] urffin commented on #15
@twitchax, Yes, indeed _modify the proxied response before passing it back to the client_!

Easy addition in lib or where?

[2019-07-04 06:46] urffin commented on #15
@twitchax, as i understand changes should be in [this](https://github.com/twitchax/AspNetCore.Proxy/blob/master/src/Core/Helpers.cs#L112) place?

    using (var responseStream = await responseMessage.Content.ReadAsStreamAsync().ConfigureAwait(false))
    {
        await responseStream.CopyToAsync(response.Body, 81920, context.RequestAborted).ConfigureAwait(false);
    }

before writing to `reponse

[2019-07-06 00:21] twitchax commented on #15
@urffin, correct.  I can do this sometime soon™, or I would be happy to take a PR.  Basically, a callback that allows modification should be plumbed through all of the ways you can define a proxy, with a default `null` value.

[2019-07-06 12:21] Rohansi opened #16 "WebSocket support?"
Is it possible to proxy WebSocket connections? Would there be any issues with timeouts?

[2019-07-08 09:09] urffin commented on #15
@twitchax :) i need look it deeper :) not clear what should return this callback: stream as parameter and stream as return value?

[2019-07-08 19:42] twitchax commented on #16
Hi @Rohansi, the current implementation does not, but it is likely possible.  I have not done any research in this area yet.

[2019-07-23 10:03] simonholt opened #18 "ControllerBase support"
Some of our controllers use ControllerBase rather than Controller; it should be possible to use either in the this.ProxyAsync() extension method.

[2019-07-24 17:21] twitchax commented on #18
Agreed.  Will checkout PR.

[2019-07-26 09:13] simonholt commented on #18
Great, thanks!

[2019-07-26 10:23] #18 closed

[2019-08-12 09:53] SunSha opened #20 "Error while copying content to a stream."
I am making a post request, which randomly ends'up in following error:
[code]

It very intermittent error, sometimes it works. My usage is very simple there is post request, that I send to another service. A controller task with return this.ProxyAsync(url); Any idea what it can be ? Thanks

[2019-08-12 15:24] twitchax commented on #20
Interesting.

Can you provide the simplest possible repro, or, better yet, a test case similar to the others that fails due to this issue?

[2019-08-18 16:12] wasabii opened #21 "X-Forwarded-* headers?"
Would be nice if the library were to support adding these. Or at a minimum, provide a method for me to add them.

[2019-08-20 04:57] twitchax commented on #21
Definitely a good idea.  I can look into it, but not sure when. :)

[2019-08-21 06:07] twitchax commented on #21
@wasabii, working on this now.

[2019-08-24 23:03] digitalpowers opened #22 "Any way to add headers or cookies to the request?"
Since we can only provide the uri you are getting I dont see any way to add an authorization header or a cookie for example?

I didnt see a way but I figured I should ask before i just wondered off.

[2019-08-25 20:34] twitchax commented on #22
Hi @digitalpowers, I am working on this right now.  Want me to add you to PR?

[2019-08-25 20:39] digitalpowers commented on #22
sure, i think it is the only feature this is missing for my use :)

On Sun, Aug 25, 2019, 1:34 PM Aaron Roney <notifications@github.com> wrote:

[2019-08-26 04:11] twitchax commented on #22
Addressing with #23.

[2019-08-26 04:11] #22 closed

[2019-08-26 04:11] twitchax commented on #21
Addressing in #23.

[2019-08-26 04:11] #21 closed

[2019-08-26 04:11] twitchax commented on #15
Addressing with #23.

[2019-08-26 04:11] #15 closed

[2019-09-05 22:25] twitchax commented on #20
@SunSha, ping?

[2019-09-21 05:35] twitchax commented on #20
Closing due to lack of repro.

[2019-09-21 05:35] #20 closed

[2019-10-02 20:06] RyanDrx opened #24 "HTTPS support."
If we want to use https for the call to the proxy server. Then we have to add an unnamed httpClient
` services.AddHttpClient("", c => ` and configure the certificate handler there.

Can we pass the name of the HttpClient name as proxy option?

[2019-10-02 20:09] twitchax commented on #24
Hi @RyanDrx, this is a good idea.  However, do you mean for the call to the proxy server, or the call to the proxied endpoint?

[2019-10-03 03:13] RyanDrx commented on #24
Hi, thanks for the quick response.
I mean the call to the proxied endpoint.

[2019-10-03 05:33] twitchax commented on #24
Something like this?

https://github.com/twitchax/AspNetCore.Proxy/pull/25

[2019-10-03 18:16] RyanDrx commented on #24
Exactly! Thanks

[2019-10-03 19:07] twitchax commented on #24
Great!

[2019-10-03 19:07] #24 closed

[2019-10-05 06:04] twitchax commented on #16
Hi @Rohansi, I finally got off my ass and did this.  Coming soon!

[2019-10-09 04:57] twitchax commented on #16
Addressing in #26.

[2019-10-09 04:57] #16 closed

[2019-10-14 17:07] JakeSmokie opened #27 "WebSocket interception support"
Is there any possible way to intercept websocket requests?

Mostly probable that ProxyOptions.WithIntercept is not supposed to handle this case

[2019-10-14 17:32] twitchax commented on #27
@JakeSmokie, I plan on implementing this.  I am in the middle of doing a big redesign, and this feature is on my list of TODOs.  At the moment, based on the current design, WebSocket support is kind of a second-class citizen, so I want to address that.

[2019-10-21 01:24] #27 closed

[2019-10-25 01:00] pkellner opened #28 "Is there a way to use this to proxy all requests?"
That is, something like everything coming into localhost/api goes to myserver/ ?

[2019-10-25 05:19] twitchax commented on #28
Yes!

You could use `{**catchall}`.

[code]

You could also do it in a controller if you use the `**` catchall.  All of the routes use the ASP.NET standard routing, and the catchall is one of the [built-in helpers](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.0).

[2019-10-29 15:39] lehne opened #29 "Support for AspNetCore 3"
Right now it looks like AspNetCore 2.2 is used. If installing for 3, a lot more packages are required.

[2019-10-29 15:43] twitchax commented on #29
@lehne, while I am preparing a big release right now to make the library _feel_ more native to .NET, I have no plans to move fully to ASP.NET Core 3.

You can use this library from ASP.NET Core 3, though.  The test project is targeting 3.

[2019-10-29 19:42] twitchax commented on #29
Ahhh, good point.  That is not ideal.  I will probably ship different targets, then.  Reopening for tracking that work.  Glad that the workaround works, though.

[2019-11-08 05:53] davesofthunder opened #30 "Problems with POST proxy from Controller to another Controller with [FromBody]"
I have a .NET Core Web App that has Controller endpoints that I want to forward to another .NET Core Web App with identically named controller methods.  This library works great for the GET requests (thank you!) but I am having problems with the proxy when attempting a POST with the model binding and the [FromBody] attribute.

For example, using a simple POCO model such as this:

[code]
In the sou

[2019-11-08 05:57] twitchax commented on #30
@davesofthunder, this is a shot in the dark, but I have a guess.

Remove the `[FromBody]` and parameter from the proxy controller.  `ProxyAsync` handles the body, so I suspect that using the parameter may read the body from the stream, thereby removing it before the proxy method can pass it along.

[2019-11-08 06:19] davesofthunder commented on #30
That did the trick! It works - thanks so much.

[2019-11-08 06:24] twitchax commented on #30
Cool!  I will update the docs to point out that the helper method has to be called from a parameterless controller.

[2019-11-08 08:14] ElAmen opened #31 "Edit reponse"
Is it possible to intercept and edit the proxy's response before returning it to the user?

[2019-11-08 17:18] twitchax commented on #31
Yes!

Check out `AfterReceive` on the options.

[2019-11-08 21:29] #31 closed

[2019-11-09 04:23] twitchax commented on #28
@pkellner, this work for you?

[2019-11-14 19:32] ahumeniy opened #32 "Library depends on Microsoft.Extensions.Http version 3.0"
I can't upgrade this library to the 3.1.0 version because my project uses ASPNET Core 2.1. I tried to upgrade to Core 2.2, but I get several errors because I'm asked to add several Core 3 libraries and some of those conflicts with my existing project.

I tried to compile the project myself changing the dependency to Microsoft.Extensions.Http version 2.2 as it was on the previous release and I don'

[2019-11-14 22:15] twitchax commented on #32
I just pushed a new package which drops this version. :)

[2019-11-14 22:15] #32 closed

[2019-11-15 02:36] ahumeniy commented on #32
Thanks!

[2019-12-03 07:22] waxingsatirical commented on #28
With the UseProxy extension the query string parameters are lost by default. I've ended up using something like this:
[code]
Is that the best way to do it?
I feel like it would have been better if the query string was appended by default, and maybe there was an overload of getProxiedAddress which had the querystring as a parameter in case anyone wanted to do logic on it.

[2019-12-03 07:29] twitchax commented on #28
@waxingsatirical, good catch.

I am also in the midst of a large redesign, and I am adding a `RunProxy` helper that will catch everything.  So, that will be nice.

The problem with the "catchall" method right now is that it is an ASP.NET route type that I have no control over.  Maybe they should add a `***whatever` route that catches the whole path any query string.

An overload of `getProxiedAddr

[2019-12-03 15:19] waxingsatirical commented on #28
Yes, I see that you are pretty much tied to the MapMiddleWareRoute extension and therefore you need to take the ASP.Net template as a parameter. Hmmn.

Happy to have a look, although I would not describe myself as a  "power user". I just use this one method to proxy everything to another domain, tacking on a client certificate for authentication.

[2019-12-03 19:13] twitchax commented on #28
@waxingsatirical, cool!  Is that open sourced at all?  Would be cool to have a good example of how you do the client certificate work. :)

[2019-12-04 09:05] waxingsatirical commented on #28
Open source! No, we're not very progressive like that.
I'm reluctant to share my implementation, because it's very heavy handed, but essentially you have to provide another implementation of the IHttpClientFactory and add the client certificate in the CreateClient method.

`services.AddScoped(IHttpClientFactory, CertificateHttpClientFactory>();`

[2019-12-04 18:03] twitchax commented on #28
Haha, cool.  Yeah.  That is what I guessed you did.

[2019-12-16 20:29] anibal-acosta opened #33 "HTTP Error 500.30 - ANCM In-Process Start Failure when using proxy 3.1.0 or 3.1.1"
Hi, I have running a dotnet core 3.0 app with aspetcore.proxy 3.0. When I debug in Visual Studio using IIS Express, the APP start successully.

But when I change to proxy 3.1.1 or 3.1.0 I got this error in the web page "HTTP Error 500.30 - ANCM In-Process Start Failure"

The captured exception is:

Source: Microsoft.AspNetCore.Server.IIS
Stack:
   at Microsoft.AspNetCore.Hosting.WebHostBuilderIISE

[2019-12-17 04:38] twitchax commented on #33
Might it be this issue?

https://stackoverflow.com/questions/53811569/http-error-500-30-ancm-in-process-start-failure

[2019-12-22 20:10] twitchax commented on #33
@anibal-acosta, did you check out the issue I linked?

[2020-01-07 16:03] glucaci commented on #28
[code]
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.defaultproxy?view=netcore-3.1

[2020-01-07 21:42] kylepope-ge commented on #29
Just FYI, the workaround unfortunately doesn't work when you're referencing the latest AspNetCore.Proxy library from dotnet core 3+ a web project (i.e. the csproj file has `<Project Sdk="Microsoft.NET.Sdk.Web">` at the top). The test project you referenced isn't a web project, which is why this hasn't been seen yet, mabye? The error I seem to get when I try it is the following:
[code]
I've been lo

[2020-01-08 20:05] twitchax commented on #29
Sorry, all, still working on the release that moves to 3.0.

Basically, procrastinating because all that is left is xml docs.

[2020-01-13 19:41] dbettin commented on #29
@twitchax Thanks for this project!  Is the 3.0 support on a branch?  I would like to start testing the upgrade.

[2020-01-13 20:00] twitchax commented on #29
Yes, check out the 4-release branch.  There are syntactic changes as well.  The new readme doesn’t describe them yet, but the tests do.

Mostly just missing docs.

https://github.com/twitchax/AspNetCore.Proxy/tree/4-release?files=1

[2020-02-12 09:06] christianrr commented on #33
Same exception here... It works when being configured running out-of-process using the Kestrel server, but not for the in-process within IIS.

However, I would prefer using in-process, any ideas? Many thanks!

[2020-02-12 18:14] twitchax commented on #33
@christianrr, did you check out the issue I linked?

It looks like you need to install the dotnet hosting bundle on the target machine.

[2020-02-12 18:57] christianrr commented on #33
Yes of course, hosting bundle is installed.

[2020-02-12 19:22] twitchax commented on #33
Ok, sounds good.  I think that the solution will be to stop using dotnet 3 libraries in AspNetCore.Proxy 3.X.

Would you mind trying with the `4-release` branch?  That branch splits the two builds properly.

If needed, I can release as a pre-release?

[2020-02-12 19:51] twitchax commented on #33
@christianrr, actually, this is likely expected, or it is a problem with IIS or .NET.

AspNetCore.Proxy 3.1.1 targets netstandard2.0, and it does not have any 3.0 dependencies.  If you need full dotnet 3.0+ support, then the `4-release` branch should work.  I am working on finishing up the docs right now.

[2020-02-13 08:57] christianrr commented on #33
yap, works with 4-release build...

[2020-02-13 19:26] twitchax commented on #33
Ok, cool.  I will work on getting those docs done.

[2020-02-24 07:26] PaulUpson commented on #33
Same issue for me, broken with 3.1.1 works with `4-release` branch. Could we maybe get a pre-release package prior to your formal release?

[2020-02-28 06:49] twitchax commented on #33
@PaulUpson, yeah. I can do that. :)

[2020-02-28 06:58] twitchax commented on #33
@PaulUpson, done.

https://github.com/twitchax/AspNetCore.Proxy/releases/tag/v4.0.0-alpha

[2020-03-03 17:09] bodamithun opened #36 "trying to get my apigateway to work."
I have implemented a webapi with aspnetcore.proxy 4.0, all I need my api to do is whatever request It gets I need it to forward that to the another api and what ever response I get back, I need to return it.
so I created two api's, one with aspnetcore.proxy and other one is normal api. one ask is the forwarding request  should include all the headers and also all the body(raw json data).

I am usi

[2020-03-03 20:38] bodamithun commented on #36
Also how to forward Json data in the body

[2020-03-03 22:38] twitchax commented on #36
Thanks for the great explanation.

The body is automatically forwarded, so no problem there.

My guess is that 5002 needs an ASP.NET setting to allow the media type that you are forwarding.  What is the media type of `ImagePdfRequest`?  Json?

[2020-03-03 22:41] twitchax commented on #36
Also, can you debug 5001?  I wonder if the request is actually getting rejected by 5001?  Does the request ever get there?

[2020-03-03 23:09] bodamithun commented on #36
Thanks @twitchax for responding, the media type is Json. also i tried putting a break point on 5001, but that never got hit.

Also in the startup.cs

I just have this statement in configureservices method.
  services.AddProxies();

Am I missing any configuration.

[2020-03-03 23:10] bodamithun commented on #36
Also this is the error i am able to see in the console

System.Net.Http.HttpClient.AspNetCore.Proxy.HttpProxyClient.LogicalHandler: Information: End processing HTTP request after 1304.7942ms - UnsupportedMediaType
info: System.Net.Http.HttpClient.AspNetCore.Proxy.HttpProxyClient.LogicalHandler[101]
      End processing HTTP request after 1304.7942ms - UnsupportedMediaType
System.Net.Http.HttpClien

[2020-03-03 23:47] bodamithun commented on #36
@twitchax for the question What is the media type of ImagePdfRequest? Json?

Answer is I defined it as below.

    public class ImagePdfRequest
    {
        public int SurfaceImageWidth { get; set; }

        public string ImageId { get; set; }

    }

[2020-03-03 23:53] bodamithun commented on #36
I did another test in 5001 i created an new endpoint and try to hit it with postman and that worked.
       // GET: api/Personalization/5
        [HttpGet("{id}", Name = "Get")]
        public string Get(int id)
        {
            return "value";
        }

so its the Json object that I am trying to pass is not being accepted or allowed/blocked....any suggestions.

[2020-03-04 07:37] twitchax commented on #36
Let me try writing a test that will cover this scenario and see what I uncover.

Something fishy, for sure.

[2020-03-04 16:14] bodamithun commented on #36
@twitchax  Thank you... did you find anything.

I am thinking that its not able to parse/accept a Json object if you are passing it in the body. But curious to see what you find...

[2020-03-04 19:29] bodamithun commented on #36
@twitchax

I think I got this to work...
I had the endpoint set to [HttpGet], so changing it to HttpPost got it to work.
Thanks for looking into it. I will close this issue.

Also one question I had how do I configure my apigateway  to route to different api's, and how would it decide which route to take.

[2020-03-04 19:29] #36 closed

[2020-03-04 20:36] twitchax commented on #36
Ohhhhhh, I didn't even notice that, haha.

Yeah, `GET`s cannot have a body.

[2020-03-06 16:14] kylepope-ge commented on #29
It's been a couple months... @twitchax do you need any help to wrap this issue up? Sounds like you were close to closing this out.

[2020-03-06 21:25] twitchax commented on #29
Sorry!  Day job has gotten the better of me recently.

I am taking a new role, so I will have some time to work on this coming up.  That being said, if you want to help out with some XML doc PRs, then I will take them.  If you do, please try to match some of the existing docs.

Also, as a stop gap, there is an `alpha` release without the docs: https://github.com/twitchax/AspNetCore.Proxy/releases/

[2020-03-07 08:42] yengepi opened #37 "How to proxy https request?"
Hi, thanks for your great work on this project.
I wonder if this can proxy https request?I  Expect to use this resource to build a proxy server that forward and return exactly the same request and response to client. This should support 3 protocol http/https/ws. Thanks.

[2020-03-07 08:51] twitchax commented on #37
It does support HTTPS, but you will need to terminate the SSL on the proxy.

If you need to do pass through SSL, then the best option is a SOCKS proxy.

[2020-03-07 10:01] yengepi commented on #37
Hi, thanks for quick response. Can you add more guide on this? From what you said, i assume that there are two parts to accomplish my task. First is to disable aspnetcore default ssl that i believe is doing some configuration with kestrel (my host for now). The second part is building a SOCKS proxy to pass https requests through. So, is it an external proxy or being supported already by aspnet cor

[2020-03-09 18:14] twitchax commented on #37
Hi @yengepi,

So, you want to proxy `B`, which means that a request from `A` to `B` would look like this.

[code]

That is, `A` makes a request to`B`, and `B` responds to `A`.

However, you want to proxy that connection, so it looks like this.

[code]

HTTP(S) proxies like this one must "terminate" the connection, so it really looks more like this.

[code]

That is, the relationship between `A` an

[2020-03-09 20:42] #37 closed

[2020-03-10 07:11] twitchax commented on #33
PR out.

[2020-03-10 07:11] #33 closed

[2020-03-10 07:11] twitchax commented on #29
PR out.

[2020-03-10 07:11] #29 closed

[2020-03-10 17:58] #28 closed

[2020-03-10 17:59] twitchax commented on #30
Updated docs.

[2020-03-10 17:59] #30 closed

[2020-03-21 07:04] Gertjv20 opened #39 "Url Routing"
Good Day

First I would like to thank you for this project and the dedication to keep supporting it.

I have a problem that might be caused by lack of knowledge from my side because it seems like no one else have this issue. So I do apologize before hand if its something obvious that I have overlooked or not aware of.

Basically what it comes down to is let say I have a controller with with a acti

[2020-03-21 09:01] twitchax commented on #39
Hi @Gertjv20,

Thanks for filing the issue and for the interest! :)

This is actually a scenario I have run into before.  Unfortunately, this scenario is not really what this library is designed for.  This library is more designed to "reverse" proxy a server, or something like that.  And, in that vein, it is meant to proxy just one request coming from a client.

The problem that you are running in

[2020-03-21 12:42] Gertjv20 commented on #39
Hi Twitchax

Thank you for your response. I do understand what you are saying and I will definitely try your suggested solution. From what you are describing is definitely the reason of the workaround I have done which did not work but I am eager to try what you suggested. Unfortunately I will only be able to test it on Monday once I am back at work to see if it will work with the copier web inter

[2020-03-23 12:48] Gertjv20 commented on #39
Hi Twitchax

Just for feedback I have tried your suggested solution. It unfortunately did not work in a way that would have benefited me.

I did inject the base tag with the href as my server route and I could see if I look at the source code of the page that it indeed showed it as the new content but still it would not return the remaining requests of the page back to the route specified as base.

[2020-03-23 12:48] #39 closed

[2020-03-23 21:46] twitchax commented on #39
Ok, sounds good.

[2020-04-02 23:38] davesofthunder opened #40 "Issue with targeted libraries in .csproj file - .NET Core 3.1 targeted but refs to old 2.2 libraries"
I have a .NET Core 3.1 project that has a reference to AspNetCore.Proxy version 4.0.1.

I am getting console warnings stating the following:

`Severity	Code	Description	Project	File	Line	Suppression State
Warning	AD0001	Analyzer 'Microsoft.AspNetCore.Mvc.Analyzers.TopLevelParameterNameAnalyzer' threw an exception of type 'System.NullReferenceException' with message 'Object reference not set to an

[2020-04-03 00:12] twitchax commented on #40
I actually filed an issue with Microsoft about this.

https://github.com/dotnet/aspnetcore/issues/14723

I don't mind making fixes, but I am not sure removing those references will address the issue.  Those references are for when _not_ building `netcoreapp3.1`.  The only `3.1` references I have are.

[code]

Which should be fine.  Right?  Am I missing something? :P

[2020-04-03 19:03] daveyjay commented on #40
Thanks for explaining that and the link - sorry my bad!  I didn't realize that code was conditional (my bad eyes missed the !=.  I can see that the correct framework is targeted.

Just trying to figure out where my project has a nested dependency on 2.2 and can't seem to find any other reference to .net 2.

I will continue investigating - going to try one of the suggestions in that link about inst

[2020-04-03 22:00] twitchax commented on #40
Ok: cool!

Yeah, I definitely saw this for a while, which is why I filed the issue originally.

[2020-04-04 04:43] twitchax commented on #40
@davesofthunder, what happens when you remove this library?  Does removing it temporarily change anything?

[2020-04-04 23:23] daveyjay commented on #40
I figured out the problem - was nothing to do with this at all - one of my .net core 3 class libraries that was referenced had a reference to Microsoft.AspNetCore.MVC Version 2.2.0 in there - my bad!

[2020-04-05 06:19] twitchax commented on #40
No problem: good to know!

[2020-04-05 06:19] #40 closed

[2020-04-20 11:13] psneo opened #41 "Custom response without using HttpProxyOptions"
Would like to check if it is possible to return a task with my custom response instead of modifying the response after proxy using HttpProxyOption. This is to save overhead so that i can handle responses that does not need to be proxied.

For example:

[code]

I tested the above scenario and it doesnt return any value from Task.FromResult("Not a vaild country"). It does work if the return type is

[2020-04-20 17:15] twitchax commented on #41
Hi @psneo,

The problem is that ASP.NET will act differently if you use a different return type.  When you return a `Task<String>, it expects all code paths to returns a `string` that can be written to the response.  In the proxying case, we do not want ASP.NET to write to the response, since we have already written to it.

However, you can use the `WithIntercept` option.

``csharp
public class My

[2020-04-21 07:57] psneo commented on #41
Thanks for the explanation. You made it clearer. Thanks!

[2020-04-21 07:57] #41 closed

[2020-04-29 00:45] szalapski opened #42 "Possible to use with a configured HttpClientHandler ?"
I'd like to use the proxy to call an endpoint that requires certificate validation.

In ordinary code, I'd write:

[code]
with
[code]
Any idea how I'd set up an `app.UseProxies(proxies => ...)` configuration to use a "custom handler" such as above?

[2020-04-29 02:12] szalapski commented on #42
I think I figured it out.  I use a named HttpClient, which your code will use if I configure it right.

[code]

[code]

[2020-04-29 18:56] twitchax commented on #42
Yes, that is exactly how I would do it.

I will leave this open to track adding to README.  Thanks!

[2020-04-30 12:05] szalapski commented on #42
PR #44 is up.

[2020-05-03 01:58] shasanji opened #45 "What would be the websocket url when use [Route("ws")]"
Hi
I wanted to implement controller with ws, as a example i have implemented as bellow. But not sure how to call url from websocket client. Other proxy examples worked for me. Thank you very much.

 `
    public class TestController : Controller
    {
        [Route("ws")]
        public Task OpenWs()
        {
            Console.WriteLine("Request came through");
            return this.WsProxyA

[2020-05-03 09:30] twitchax commented on #45
@shasanji, you need to have a websocket client connect to `ws://yourserveraddress/ws`, in this case.

However, I am not sure I completely understand the question.

[2020-05-04 01:51] shasanji commented on #45
Hi Aaron
Thank you very much getting back to me. I have tested the AspNetCore.Proxy and work fine with me when i call http proxy(this.HttpProxyAsync). But when i call ws(web socket) didn't work for me. Local url i used http://localhost:5000. I wasn't sure what port and url should use(meaning not get call 'OpenWs method when my url is ws://localhost:5000/ws'). I am using chorm extension as my ws cl

[2020-05-04 12:21] #42 closed

[2020-05-04 12:22] szalapski commented on #31
But I gather there's no good way to add a JSON property or two without deserializing, right?

[2020-05-05 05:44] twitchax commented on #31
Correct, that is unavoidable in any proxy case.

[2020-05-05 05:56] twitchax commented on #45
There is a test for web sockets that might help you get it working as an example.  Check out `src/Test/Ws`.

[2020-05-05 12:52] Corstiaan84 opened #46 "Asp.net core proxy keeps throwing 403"
I'm using AspNetCore.Proxy to proxy the call to a static resource to an external service. I do some preprocessing to verify the user and to construct the URL to the external service (which I want to keep hidden from the user).

In my Startup.Configure() I have this:
[code]

The weird thing is; this works, but only when calling from Postman, directly from the address bar in the browser, or from a s

[2020-05-06 15:00] Nysosis opened #47 "Using configured HttpClient as the base address"
(First, thanks for the really useful library!)

I think it'd be helpful if you could configure the proxy with the base URI specified, so all proxied requests from controllers can just be relative URLs, but right now this doesn't work because `HttpProxyAsync` validates the URL string starts with http/https, and doesn't resolve it with relation to the HttpClient it's going to use.

Additionally, it'

[2020-05-06 15:07] Nysosis opened #48 "When using UseHttp, a trailing slash at the end of the URL will result in double slashes in the final URL, causing errors"
If I make a call to my app, with the URL '/the-proxied-url', and using the following configuration,

[code]

The actual URL generated to proxy to is: `https://myproxiedurl//the-proxied-url`, note the double slash, this could cause errors if the proxied server doesn't collapse them down.

[2020-05-07 11:58] shasanji commented on #45
Hi Aaron
Thank you very much that help me lot.
regards
Shashi

[2020-05-09 08:33] twitchax commented on #45
Sons good!

[2020-05-09 08:33] #45 closed

[2020-05-09 08:34] twitchax commented on #47
Cool idea.  I should be able to do that.  I will probably add a helper method to the builders.

[2020-05-09 08:36] twitchax commented on #46
Interesting.  I find that really weird.

Can you debug the endpoint in the proxy you see what the http request payload looks like and paste it here in both the failure case and the success case?

[2020-05-09 08:37] twitchax commented on #48
Thanks: I will fix soon™.

[2020-05-09 10:08] Corstiaan84 commented on #46
Figured it out. Ran a diff against the two types of requests, comparing each header presence and value. When making the request from within the context of the asp.net core app the "Referer" header got set. In any of the other scenarios, it was empty. After setting it to an empty string it worked.

[2020-05-09 10:11] twitchax commented on #46
Hmmm, that shouldn’t break it, though...

[2020-05-17 03:01] bnssoftware opened #49 "Is there a cleaner way to fallback to initial Host?"
If a host falls through and doesn't need to be proxied based on set rules, rather than having to do this:

return "https://" + context.Request.Host.Value;

Can there be a cleaner way to just fallback to the initial request host?

[2020-05-17 07:21] twitchax commented on #49
This library is just a [middlware](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.1), and you can place other routes in the middleware chain before this middleware.

You should add whatever routes/rules that you want the host to handle as `Use` middleware before the `UseProxy` or `RunProxy` middleware.

[2020-05-17 07:21] #49 closed

[2020-05-17 15:36] bnssoftware opened #50 "Is it possible to capture and log the amount of data transfer through the proxy?"
I'm setting up a proxy to enable routing client requests to particular bucket/path in AWS S3.  Is it possible to log the amount of data transfer happening through the proxy?  If so, are there any examples of how this might be done?

[2020-05-17 15:40] bnssoftware opened #51 "Does all the traffic continue to go through the proxy?"
This is probably more of a basic proxy theory question, but I was curious if after the initial request from the client to GET from a certain URL and the proxy server returns the new domain/path, does the proxy server continue to participate in the request, such as transferring data to the client?  Or does the proxy server "terminate" at that point and the client is communicating directly with the

[2020-05-18 07:56] twitchax commented on #51
So, I think you are thinking more of a redirect.  In that case, the server tells the client to go to a different address.

A proxy _always_, by definition, makes the request to the endpoint on behalf of the client.  So, yes, the proxy would continue to participate, as the client would keep sending the requests to `http://myproxy.com/`, and the proxy would forward each of those requests to the endp

[2020-05-18 16:15] softwareguy74 commented on #51
So is there any concern with the performance of the specific implementation of the proxy as it tunnels the traffic back and forth?  For example, does your implementation (with respect to JUST the tunneling) differ any from say: [https://github.com/microsoft/reverse-proxy](https://github.com/microsoft/reverse-proxy)

I'm just trying to get a feel for how performant this proxy is compared to others

[2020-05-19 05:44] twitchax commented on #50
Hi @bnssoftware, you can use `WithAfterReceive` on the `HttpProxyOptions` to inspect the response as it comes through.  I'm not sure how you would want to design it, since reading from the response stream requires that you repopulate it (since the stream is gone once you read it).  However, that is the best place to inspect the response or size of the response.

An example of `WithAfterReceive` is

[2020-05-19 05:44] #50 closed

[2020-05-19 08:54] twitchax commented on #51
In general, the implementation is not going to differ too much.

The meat of this **AspNetCore.Proxy** is [here](https://github.com/twitchax/AspNetCore.Proxy/blob/master/src/Core/Extensions/Http.cs).

The meat of the `reverse-proxy` is [here](https://github.com/microsoft/reverse-proxy/blob/master/src/ReverseProxy/Service/Proxy/HttpProxy.cs).  While the names they have chosen for their methods, and

[2020-05-20 04:31] softwareguy74 commented on #51
Thanks for the GREAT explanation!  Your library is actually what I need as I'm doing what you described with the Twitter and Facebook APIs with a single endpoint.  I will be very interested to see the performance stats.

[2020-05-20 05:05] twitchax commented on #48
Thinking through this, I may actually just make a note in the README.  Having the double slash is _technically_ still a valid URI.  I don't want to search the computed URIs for extra slashes, etc., especially when a user can make that decision in other parts of the string/path, and it is still valid.

[2020-05-20 07:09] twitchax commented on #48
Nevermind, I decided to just trim it.

[2020-05-20 07:09] #48 closed

[2020-05-20 07:50] twitchax commented on #46
@Corstiaan84, I cannot seem to repro this.  Can you tell me what was in the `Referer` header so that I can try to reproduce?

[2020-05-20 08:28] twitchax commented on #47
Ok: done.  Will release soon-ish. :)

[2020-05-20 08:28] #47 closed

[2020-05-21 01:18] sfossum opened #52 "Trying to use the Proxy for a POST request"
I am trying to pass a POST request through the Proxy but get a statuscode 502 Bad Gateway.

Is there anything special that needs to be done to setup the Proxy for a POST request. The mapping is basically like what we use for the GET which works with out issues.

[2020-05-28 17:03] szalapski commented on #52
I do believe that a POST request just works, even on a `Map()` configuration.  Was there maybe some other issue that we resolved already?

[2020-05-28 17:05] szalapski opened #53 "Can I [Authorize] on Mapped proxy routes?"
Is there any way to add an AuthorizeAttribute on `Map`ped proxy routes without creating a controller for them?

[2020-05-30 05:53] twitchax commented on #53
@szalapski,interesting question.  Do you have a link or an example for this pattern in "vanilla" ASP.NET Core route mapping?

[2020-05-30 05:55] twitchax commented on #52
@sfossum, can you paste the relevant code?  The number one problem I see with POST requests is caused by reading the `RequestBody`, usually by using `[FromBody]`, or something like that.

Reading the request body before it is passed to the proxier causes the body to be fully consumed, so proxying usually fails.

[2020-05-30 15:58] szalapski commented on #53
Yes, here it is
<https://docs.microsoft.com/en-us/aspnet/core/security/authorization/roles?view=aspnetcore-3.1>.
If I have controllers with [Authorize(...)] on them, I would like to
convert them to .Map so that I can eliminate the controllers, but still
have authorization on them.

On Sat, May 30, 2020 at 12:53 AM Aaron Roney <notifications@github.com>
wrote:

[2020-05-30 18:50] twitchax commented on #53
I don’t see the `.Map` example in your link.  I might be missing it?

[2020-05-30 23:22] drewdelano commented on #5
@twitchax I'm seeing a repro for DELETE, as @mvarga6 mentioned.

According to the MDN documentation it's allowed to have a body:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/DELETE

I think I'm on the latest, but I'm not 100% sure.  I'll check in a moment.

[2020-05-30 23:42] drewdelano commented on #5
Nevermind.  Turns out our use case is specifically undefined and should be avoided:
https://stackoverflow.com/a/60357432/1007701

[2020-05-31 14:01] szalapski commented on #53
Let's take the first example.

`
[Authorize(Roles = "Administrator")]
public class AdministrationController : Controller
{
}
`

Suppose inside of that method was nothing but a call to `this.HttpProxyAsync($...);`.  Is there or could there be any way to convert this to .Map syntax while still retaining the [Authorize] attribute on that route?

[2020-06-01 01:42] sfossum commented on #52
I have been able to get it working. I am not sure what was done to make it work. It just started working.
  Thanks for the replys.

[2020-06-01 01:42] #52 closed

[2020-06-01 04:50] twitchax commented on #53
@szalapski, maybe something like this health checks example?

[2020-06-01 04:50] twitchax commented on #53
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1

[2020-06-01 15:47] szalapski commented on #53
You mean via middleware?  Middleware `.UseAuthorization` is already in place, and it needs attributes on methods and/or classes to determine what routes to subject to middleware.  Not sure how I could do this with a route requested with `Map`.

[2020-06-10 15:31] robertmclaws opened #55 "Possible to cache results?"
First off, thank you SO MUCH for this. I needed to proxy some calls to Webflow so that I could use their CMS to power some dynamic content in my app without having to build my own fractional CMS or redeploy every time I had changes to make.

Webflow has a rate-limit on their API, and I'm not expecting the results to change THAT often. Is there a built-in way to cache the results, or do I have to m

[2020-06-11 04:04] twitchax commented on #55
@robertmclaws, interesting.  As in, you want the proxy server itself to, effectively, memoize results that come back from the upstream?  And then, if a client makes the same call within some timeout, the memoized result is used?

[2020-06-11 14:34] robertmclaws commented on #55
Yep! So let's say I have an API that only allows one request per second. Adding that option would let me set a 2 second cache, for example, to make sure I never exceed my rate limits.

You could also easily allow cache headers on the response, so the browser never makes the additional requests in the first place.

[2020-06-11 15:48] szalapski commented on #55
Couldn't you just use the inside-controller proxy call and implement your
own caching around it?

[2020-06-11 16:14] robertmclaws commented on #55
Yes, I could. But I think it should be a built-in feature.

[2020-06-14 22:53] szalapski commented on #55
I'm having trouble seeing the benefit.

On Thu, Jun 11, 2020, 11:15 AM Robert McLaws <notifications@github.com>
wrote:

[2020-06-15 03:28] PreferLinux opened #56 "Follow vs return redirects"
Right now, if proxying to somewhere that returns a redirect, the `HttpClient` follows the redirect, and the original requester never sees it – so if the original request is from a web browser, the browser still shows the original URL. I just had this and wanted to return the redirects, so I figured out how to get that to work. I realise that both behaviours are valid, and the existing behaviour is

[2020-06-16 06:46] twitchax commented on #55
@robertmclaws, that is an interesting idea: I will think about it.

@szalapski, do you think there is a purity reason it should not be done?  OTherwise, this sounds like something I would have fun doing when bored. :)

[2020-06-16 06:48] twitchax commented on #56
Ahhh, cool.  I could add this as part of the options.

[2020-06-16 14:12] szalapski commented on #55
Well, if the implementation of a feature can just as easily be implemented
AROUND a library call, why add code to enable the feature to be embedded in
it?

For example, do you want read-through, write-through, or write-behind
caching?  Do you want refresh-ahead?  How would expiration work?  Do you
really want to anticipate all these needs?

Better would be to ask, is there  any change needed to ma

[2020-06-16 20:27] PreferLinux commented on #56
That would be good. I see that you're adding and using a named client already, so you'd be able to do that part there easily with the option. However if anyone wanted to use their own named client they'd have to do it themselves unless you have them pass in the result of the `services.AddHttpClient()` call.

The location editing I did there is OK, but it doesn't account for everything it probably

[2020-06-17 02:08] PreferLinux opened #57 "Hang when using a controller to proxy form"
When proxying through a controller, there is a hang when handling a POST or PUT request with either a `Content-Type: application/x-www-form-urlencoded` or `Content-Type: multipart/form-data` header.

I've reproduced it starting with a simple Web API project, with the following changs:
- Adding `services.AddProxies()` to `ConfigureServices()`.
- Removing `app.UseHttpsRedirection()` from `Configure(

[2020-06-18 07:32] twitchax commented on #57
Hi @PreferLinux, thanks for filing this.

It is almost definitely the controller mucking about.  Very interesting, though, so I will have to take a look at some point.

There might be a way to "turn off" whatever it is doing that causes issues.

[2020-06-18 07:35] twitchax commented on #56
Yeah, there will definitely be some edge cases that I will need to consider.  It might make sense to just cover _most_ cases, and then add improvements over time.

[2020-06-18 09:22] PreferLinux commented on #57
Just did some more experimenting. Started by using the `EchoAsync()` method above, checking out the request headers and in the process noticed the `HttpRequest.Form` – reading `Request.Form` first meant the body was consumed, and vise versa (expected). Then I tried adding a string route parameter, with `Route("echo/{**rest}")` and `EchoAsync(string rest)`, to match the `ProxyAsync()` method. Now `

[2020-06-18 20:42] slaweklatka commented on #57
@PreferLinux @twitchax
Hi Guys,
First of all I must say it's vary nicely done proxy.

But had exactly same problem when posting form-data, @PreferLinux it seems your solution works fine. Thanks for help.

[2020-06-25 17:57] georgearnall opened #58 "Proxy Blazor Server Application Websocket"
I'm trying to proxy a Blazor Server Application. I have managed to proxy the initial page load and retrieve all static files. I cannot get the SignalR websocket connection to establish. Is this supported?
The Websocket proxy definition is never triggered and I get 502 error codes on the _blazor?id=XXX websocket request

I have the following config:
[code]

[2020-06-25 18:21] twitchax commented on #58
Hi @georgearnall, does `proxyUrl` contain `ws` or `wss`?

[2020-06-25 20:32] georgearnall commented on #58
Yes @twitchax, although it is not above, I've just hard coded this now and it is the same issue. As mentioned, it doesn't appear to be triggering the "ui/_blazor" proxy at all. Interestingly if I add a ui/_blazor with a UseHttp proxy configuration that does trigger...
See attached log, not sure if it helps point in the right direction
<details>
  <summary>Verbose Log file</summary>

</details>

![

[2020-06-25 21:57] twitchax commented on #58
It looks like, in the log, that the web server is interpreting this request as an http request.

`Request starting HTTP/1.1 GET https://localhost:5003/ui/_blazor?id=KfqJrgcpG8oS2kD2e7uMoA`

Did you "turn on" websocket support by using `app.UseWebSockets();`?

[2020-06-25 23:18] georgearnall commented on #58
Ah, I missed that! It's triggering on `proxy.UseWs()` now, but it's still not going through.

[code]

Most requests will log the connection to the other server (7003), however this one just exits immediately. Could it be related to the HTTPClient? I don't seem to be able to add the same `builder.WithHttpClientName("proxyClient"))` on the websocket config? I'm currently using self signed certificat

[2020-06-28 23:24] twitchax commented on #58
Hi @georgearnall, I can investigate.  Any way you can give me a toy app that repros this in a gist or something? :)

[2020-06-28 23:25] twitchax commented on #58
Or, if you want to be really nice, check this repo out and add a WS test case that fails? 😬

[2020-07-20 21:52] garyhuntddn commented on #57
This solution worked for me - but I also needed to use

[code]

so that the query string part was also passed onto the proxied site

[2020-07-20 21:57] PreferLinux commented on #57
Sorry about that. Yes, including the query string absolutely is necessary. I left it out of the initial test for simplicity (eliminating everything reasonably possible while still keeping a relatively complete example), and never put it back.

[2020-07-20 22:34] twitchax commented on #57
@PreferLinux, including the query string fixes the hang?  I may be able to detect a form request and throw a meaningful error.

[2020-07-20 22:56] PreferLinux commented on #57
No, the query string has nothing to do with the hang. The hang is basically because, when using model binding (a method parameter) to get the `rest` catch-all route parameter on a request with a form Content-Type, the form is processed which consumes the request body – even though the form is never accessed. Fortunately there is another way to access route parameters, `Request.RouteValues["rest"]`

[2020-07-21 22:27] twitchax commented on #57
@PreferLinux, if you ever have some time, it would be awesome if you could PR a failing test for this.  Then, I can investigate some fixes.

[2020-07-23 10:58] mot256 commented on #57
I'm getting the same issue with route values and form data. It's not only the "catch-all" route value, but any route value extracted out of the path.

`
[Route("proxy/{someValue}/{**rest}")]
public Task ProxyAsync(string someValue, string rest)
{
     return this.HttpProxyAsync($"http://localhost:5000/{rest}");
}
`

I'm using version 4.0.1 of package

[2020-07-23 22:59] PreferLinux commented on #57
Sure, I'll try to do that in the next several days or so.

Yeah, I'd expect that using any model binding whatsoever is going to cause ASP.NET Core to parse the form. Therefore the method shouldn't have any parameters and needs to get stuff via other means.

[2020-07-31 22:23] twitchax commented on #57
PR above address...closing.

[2020-07-31 22:23] #57 closed

[2020-07-31 22:35] twitchax commented on #55
Thanks, @szalapski, makes sense.

@robertmclaws, are there any features that you would need to help make this work?  I would think you could add some caching pretty easily in the `WithIntercept` options.

Basically, something like this.

[code]

[2020-07-31 22:38] twitchax commented on #53
@szalapski, were you able to work around this?

[2020-07-31 22:38] twitchax commented on #51
Closing this.

[2020-07-31 22:38] #51 closed

[2020-07-31 22:40] twitchax commented on #46
@Corstiaan84 closing this.  Please reopen if you can provide a repro or test PR. 😄

[2020-07-31 22:40] #46 closed

[2020-07-31 22:40] twitchax commented on #58
@georgearnall, closing this.  Please let me know if you can provide a small repro. 😄

[2020-07-31 22:40] #58 closed

[2020-07-31 22:52] szalapski commented on #53
Only with explicit controllers.

On Fri, Jul 31, 2020, 5:38 PM Aaron Roney <notifications@github.com> wrote:

[2020-07-31 23:11] twitchax commented on #53
Have you tried using `WithIntercept`?

[code]

[2020-08-01 12:54] georgearnall commented on #58
Apologies for not getting back to you, I've been pretty busy. This might be something I will come back to in the future. For now I have switch to WebAssembly and no longer require the proxy. Thanks for your help nonetheless.

[2020-08-02 23:52] szalapski commented on #55
Would it be easier to implement caching in a controller action? Just
another option.

On Fri, Jul 31, 2020, 5:36 PM Aaron Roney <notifications@github.com> wrote:

[2020-08-03 08:23] twitchax commented on #55
That works, too.

[2020-08-05 11:41] using-system opened #62 "Unable to read data from the transport connection with form-data in body content"
Hello,

The library generates the error below in the case of a form-data POST (to send a file) :

+		InnerException	{"Unable to read data from the transport connection: L’opération d’entrée/sortie a été abandonnée en raison de l’arrêt d’un thread ou à la demande d’une application.."}	System.Exception {System.IO.IOException}
   at System.Net.Http.HttpConnection.<SendAsyncCore>d__53.MoveNext()
   at

[2020-08-05 16:52] mot256 commented on #57
Thanks for the fix! When will you release it?

[2020-08-05 18:02] twitchax commented on #62
Hello!

This is likely a dupe of #57, which we have been working on.  We will release a fix soon, but you might want to try checking out master and see if your issue is fixed with it.

[2020-08-05 18:03] twitchax commented on #57
@mot256, I can release today.  If you don't mind, it would be great to get real-world confirmation of the fix.  Have you had a chance to build from source and test in your application?

[2020-08-06 06:40] mot256 commented on #57
No. But will give it a shot

[2020-08-06 07:06] qcjxberin opened #63 "can use Content-Type:application/json"
can use Post Request With Content-Type:application/json

[2020-08-06 07:07] twitchax commented on #63
Yes, you can.

[2020-08-06 07:07] #63 closed

[2020-08-06 07:23] mot256 commented on #57
@twitchax I have build locally and did some preliminary testes, and problem seems to be solved. At least for my use case.

[2020-08-06 08:10] twitchax commented on #57
Cool.  I will release tomorrow.

[2020-08-06 08:18] using-system commented on #62
Hello,
I confirm that it works by getting the latest master sources.
Thank you !

For my project which uses AspNetCore.Proxy I prefer use the nuget. A publication is planned for soon?

Regards,

Matthieu

[2020-08-06 09:02] twitchax commented on #62
Yep!  Planning on later today.

[2020-08-06 09:20] using-system commented on #62
Great !

I close this issue

Many thanks.

Matthieu

[2020-08-06 09:20] #62 closed

[2020-08-06 12:18] szalapski commented on #53
Cool...I think that should work.

[2020-08-06 12:18] #53 closed

[2020-08-06 21:46] twitchax commented on #53
Yeah, I can see that as being a problem, for sure.  Any specific reason you are trying to stay away from controllers?

[2020-08-11 15:44] tmatous opened #64 "Authorize and POST"
I have been trying to set up forwarding for some API endpoints. Some are GET and some are POST.  They are using Windows auth with Authorize() on both the gateway API project and the target API project. It seems like every request is overwriting the client's cached Authorization information, which is forcing the browser through a 401-negotiate cycle on every request from the browser to the gateway,

[2020-08-11 17:56] twitchax commented on #64
It should be.  I might need to do some investigation to understand what happens here.  There aren't any `Authorize` tests right now, so if you are willing to contribute some, that would help too.

[2020-08-17 21:18] tmatous commented on #64
I'm thinking that would require creating a second TestServer in HttpIntegrationTests to provide the final secure endpoint. Does that make sense?

[2020-08-18 06:13] twitchax commented on #64
Yep, that is correct.

[2020-08-18 22:58] tmatous commented on #64
I added some tests in my fork, take a look and let me know what you think. The test that is failing is "CanProxyToTargetPostWithJsonDataAndAuth".

https://github.com/tmatous/AspNetCore.Proxy

[2020-08-20 17:26] twitchax commented on #64
Awesome: thanks.  I will take a look as soon as I can.

[2020-09-16 14:06] Steffen-MLR opened #65 "check for token before proxying request"
Hi,

I want to check a token before proxying a request. I have this:
[code]

As you can see the questionmark, i dont know how to solve this. I tried to do `this.HttpProxyAsync("https://myserver/forwarded-server/forbidden")` and implement another route `with an IActionResult and a Forbid(), but this gives an SSL Error (The Certificate is Self-signed).

Is there either a way to solve this like I did

[2020-09-16 17:47] twitchax commented on #65
I would just do something like.

[code]

[2020-09-17 07:32] Steffen-MLR commented on #65
That is exactly what I needed, thank you!

[2020-09-17 07:32] #65 closed

[2020-09-17 13:30] shoe-diamente opened #66 "Cookie header separator"
I'm still investigating, but it appears that when not proxying to localhost the Cookie header uses `,` as a separator as opposed to the common `;`.
This causes problems with popular servers like Apache.

It may be related to this issue: https://github.com/dotnet/aspnetcore/issues/22351

[2020-09-18 10:34] shoe-diamente commented on #66
I'm only able to replicate it in production.
In order to replicate it I've used a docker image called `jmalloc/echo-server` to echo back the request that is proxied.
Docker doesn't seem to be the problem since a local Docker instance seem to work correctly (cookies are separated by `;`).

The production server have the following differences:
 - LettuceEncrypt is installed (for Let's encrypt certif

[2020-09-18 18:01] twitchax commented on #66
That is very strange, haha!  Not quite sure where to begin.

[2020-09-21 07:27] shoe-diamente commented on #66
Yeah, I know.
I'd bet it's just that .net core issue I've referenced and nothing to do with this library.

In any case I've temporarily solved it with:

[code]

where `SquashCookies` is:

[code]

[2020-09-21 07:27] #66 closed

[2020-09-21 07:32] twitchax commented on #66
Looks like dotnet/aspnetcore#22351 is closed now, though?

[2020-09-21 07:47] shoe-diamente commented on #66
It was closed due to inactivity unfortunately

[2020-09-21 07:49] shoe-diamente commented on #66
I'm unable to create a reproducible environment. I tried.

Unfortunately issues opened in that repo without a reproducible build are almost automatically closed, so I don't think there's much else I can do other than just use that workaround and move on.

[2020-09-21 09:59] shoe-diamente commented on #56
Stumbled on this one myself.
My use case was reverse proxying PhpMyAdmin.

Basically I have a `https://example.com` server which proxies PhpMyAdmin  via `https://example.com/phpmyadmin/` to a http://localhost:8083 phpmyadmin local server instance.
At some point in the authentication flow phpmyadmin returns a 302 redirect with Location: `/phpmyadmin/index.php` and AspNetCore.Proxy by default short

[2020-09-21 14:58] sondreb opened #67 "String escapes JSON structure - POST/PUT fails silently"
Thanks for a great library! I have used it previously, and now I'm working on a different project and I have been unable to get it working with POST/PUT when the data structure includes string escaped JSON structure.

I don't have time to reproduce right now, but I'll make one another time as I just found a solution and need to do some other work. I replaced the proxy library with a very basic IHt

[2020-09-21 16:25] twitchax commented on #66
Sounds good: thanks for posting, and investigating. 👍

[2020-09-22 07:20] twitchax commented on #56
Yeah, makes sense.  I will take a look when I get a chance. 👍

A PR for a failing test case wouldn't hurt. :)

[2020-09-22 07:21] twitchax commented on #67
Interesting.  If you have a chance to PR a failing test, that would be super helpful. :)

[2020-09-23 07:03] sondreb commented on #67
I will, but I have refactored by implementation to not perform string-escaped JSON and it caused similar issues. So this is likely more an problem with Azure Application Gateway / Azure API Management. I will investigate further soon.

[2020-09-23 07:53] twitchax commented on #67
Hmmm, that is even weirder.

[2020-09-24 01:40] paulfryer opened #68 "How to use a WebProxy with the underlying httpclient?"
How can I configure the underlying httpClient that is making request use a WebProxy? I need to do something like this:

`
HttpClientHandler clientHandler = new HttpClientHandler();
clientHandler.Proxy = new WebProxy("10.0.0.22:8000");
using (var httpClient = new HttpClient(clientHandler)
{ // do stuff with client here. }`

[2020-09-24 01:47] paulfryer commented on #68
Actually I just figured it out after reading some of the other issues posted. Looks like you can configure clients in the "ConfigureServices" method, like this:

`        public void ConfigureServices(IServiceCollection services)
        {
            services.AddHttpClient("default").ConfigurePrimaryHttpMessageHandler(() => new HttpClientHandler()
            {
                Proxy = new WebProx

[2020-09-24 01:47] #68 closed

[2020-09-24 07:19] twitchax commented on #68
Yep: that is the preferred method!

[2020-09-25 18:23] paulfryer commented on #55
+1 on providing cache features in the framework. I'm trying to do this now, it's complicated, mainly because I have to convert from an HttpResponseMessage that I get in the "WithAfterReceive" event to a HttpResponse when I fetch it from cache in the "WithIntercept" event.

[2020-10-15 04:49] bishwasgautam commented on #64
Has there been any progress on this? @twitchax

I am also getting a 401 on a GET call, the API being called has been secured with IdentityServerAuthentication. I am not sure if this is related. Any insight would be appreciated!

[2020-10-15 19:14] twitchax commented on #64
Sorry, I haven't had a chance yet.  Hopefully will have some free time soon.

[2020-11-03 09:36] twitchax commented on #64
Ok, all.  Finally had a chance to look at this.  @tmatous, thanks for the repro, and the tests.

After debugging, it appears as though this is actually caused by an existing bug on Microsoft (see: https://github.com/dotnet/runtime/issues/25413).  It's currently closed, but it is not fixed, as far as I can tell.

The workaround suggested by a user in that thread is to fully read the content out of

[2020-11-05 22:30] dsivori1 opened #70 "Authentication failed because the connection could not be reused"
Trying to set up a proxy to a Rest Service that used NTLM Authentication. I don't know that you can resolve it, but I'm getting this error:

Authentication failed because the connection could not be reused.

   at System.Net.Http.HttpConnection.DrainResponseAsync(HttpResponseMessage response)
   at System.Net.Http.AuthenticationHelper.SendWithNtAuthAsync(HttpRequestMessage request, Uri authUri, IC

[2020-11-05 22:34] twitchax commented on #70
Interesting.  I will probably need to write a test to repro this, and then debug.  If you could write a test, that would help, as well.

Preliminarily, it sounds a bit like #70.

[2020-11-24 14:35] Lucamuh opened #71 "Get with Query String"
Query paramets inside the URL (like www.xyz.com/api/v1.0/getarticles?test=5) do not get forwarded.

[2020-11-25 04:39] twitchax commented on #71
This is covered in the README.

[code]

[2020-11-25 04:39] #71 closed

[2020-12-04 07:03] #64 closed

[2020-12-05 07:53] martindybal opened #72 "Websocket proxy failed "Error during WebSocket handshake""
I'm trying to proxy twilio comunnication. They have sample in doc how to do that with ngix

Sample configuration:
[code]

I'm tried to use AspNetCore.Proxy but I wasn't succeeded.
[code]
failed: Error during WebSocket handshake: Unexpected response code: 502

[code]
failed: Error during WebSocket handshake: Unexpected response code: 404

How should I setup AspNetCore.Proxy correctly?

[2020-12-08 14:28] Neutrino-Sunset opened #73 "Unreadable code"
This is just painful to look at.

[code]

A method implemented as a lambda, multiple lambdas at that, one implementation delegating to something that reads almost like an overload (WithEndpoint -> WithEndpoints). All on a single line. This kind of thing is programmer trolling.

[2020-12-08 18:45] szalapski commented on #73
The method isn't a lambda, it is a expression-bodied method.  The body itself is a lambda.  I am used to working with the `=>` operator pervasively.  I think I'd split this into two lines, but that's all I'd change.  Just my opinion.

[2020-12-08 18:45] szalapski commented on #73
[code]

[2021-02-23 16:03] aderderian opened #74 "Is it possible to use typical dynamic route parameters for the proxy maps?"
For example, proxies.Map("{clientid}/api/{endpoint}", proxy => proxy.UseHttp((context, args) => ........

Does it only resolve {endpoint} as a dynamic route element?

[2021-02-23 22:21] twitchax commented on #74
What do you mean by "only...as a dynamic route element"?

[2021-02-24 00:11] aderderian commented on #74
I meant {endpoint} was a reserved token and it only resolved that, or can it work with other placeholders like {xyz} and {xyz?}. In short, does it follow .net core endpoint routing standards?

[2021-02-24 09:14] twitchax commented on #74
Ahhhh: good question!

Yes, it uses all of the same routing mechanics.  Actually, it just calls `MapMiddlewareRoute`, and passes the route into that. :)

See [here](https://github.com/twitchax/AspNetCore.Proxy/blob/master/src/Core/Extensions/Basic.cs#L63).

[2021-02-24 09:14] #74 closed

[2021-03-29 23:07] GrumpyBear57 commented on #72
I think I'm having the same issue here, when I try to connect through the ASP proxy, I get a HTTP 502 on my websocket client. I've created very simple test server and clients in node.js to try and debug if it's something we're doing on that end that would interfere, but still can't get it to work. Any direction as to where to go from here would be greatly appreciated.

My server:
[code]

Clients:

[2021-03-30 05:50] GrumpyBear57 commented on #72
Alright I think I have this figured out now...

First step was to actually enable websockets on the ASP Proxy (add `app.UseWebSockets()` to `startup.cs` -- I think this needs to go before `app.UseRouting()` and/or `app.UseEndpoints`). This totally makes sense, but it isn't documented in the setup instructions for this package, so I had omitted it.

The next thing I found was that I ***MUST*** spec

[2021-03-30 07:07] twitchax commented on #72
Hi, sorry: just got to this.

So, good call out: I can add that to the README.  The [Microsoft Docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets?view=aspnetcore-5.0) call this out, but I agree that people using this as a WS proxy likely don't look beyond this package.

As of now, the proxy uses the `protocol` to determine whether the connection is a websocket or not: there

[2021-03-30 07:07] twitchax commented on #72
Leaving this open until I fix the docs.

[2021-03-30 08:22] GrumpyBear57 commented on #72
When I was stepping through the decompiled code in the debugger, it looks like you're already doing a check to `context.WebSockets.IsWebSocketRequest`, which I think should probably be enough, but some further testing may be required for that to ensure proper compatibility.

No it is working, I just don't need a full controller for the proxy endpoint, so I opted to do it in startup.cs instead of a

[2021-04-20 10:13] RoyalBjorn opened #76 "Feature request: strong typed results"
Is it possible to support strong typed results (IActionResult<MyModel>). I'm using 'WithAfterReceive' to rewrite the response. This is working well, but I would like to be able to use an ActionResult instead of 'Task', because then generation of Api documentation and other features would be supported better.

[2021-04-20 19:38] twitchax commented on #76
Can you give me a code snippet example of what you're trying to do?

[2021-04-21 08:25] RoyalBjorn commented on #76
Below you can find an example of how (just a proof of concept) I used AspNetCore.Proxy to create sort of an api gateway that translates the incoming and outgoing messages.
As you can see the happy path returns a 'PartStockInfo' object. I would like the return type of my method to be Task<IActionResult<PartStockInfo>> instead of Task, but when I change this, I get an error at the last line of the c

[2021-04-21 19:50] twitchax commented on #76
Interesting: this _might_ be possible, but it is not trivial since ASP.NET will try to pick up that return value and serialize it into the response.  This library already does that by default from the proxied endpoint.

What is the scenario that this would enable?  You already have `[ProducesResponseType(typeof(PartStockInfo), StatusCodes.Status200OK)]`, so I'm wondering what changing the return t

[2021-04-22 07:03] RoyalBjorn commented on #76
Well, for starters it would remove the need to add the response type to the 'ProducesResponse' attribute. But my main motiviation is that I like to use strong typed responses as much as possible because of the design time validation in the IDE. But as you already said, it is not a trivial feature.

[2021-04-22 21:26] twitchax commented on #76
So, hmmm, I have a few ideas.  It might be a bit complex, but I might be able to have `WithAfterReceive` optionally return a `Task<T>`, and then, if it does, I skip writing to the response.

Another option would be to create a new method for this specific purpose.

[2021-04-23 06:49] RoyalBjorn commented on #76
Thanks for your effort @twitchax! In my opinion a generic 'overload' might be the best option because of compatibility with the existing version. If I can find some time, I'll fork your repository and try something myself.

[2021-04-23 23:12] twitchax commented on #76
Ok: sounds good!

[2021-05-19 18:27] c17r opened #77 "Question: Proxying for CORS in Development"
In prod, we're having HAProxy handle diverting any request beginning with `/api/` to the backend server so everything is under the same origin and we don't have to worry about CORS.

For development we're using this library to handle the proxying in combination with `spa.UseAngularCliServer(npmScript: "start");` Best I can figure, this is the simplest configuration to take anything request beginni

[2021-05-19 22:34] twitchax commented on #77
This is the _de facto_ best way to do this _currently_.

However, this does make me think that I could add a helper method to make it a little simpler.

[2021-05-25 19:10] HarelM opened #78 "HTTP/2 + SSL to HTTP proxying"
Hi,
First and foremost, thanks a lot for this great library!
I've been using this in production for a while now and it is working great!
We have recently did a migration from a Windows server to a linux server.
The migration was also out of IIS and into kestrel as the server in the front.
I'm guessing that this change allowed browsers to start communicating though the HTTP/2 protocol.
My question

[2021-05-26 05:57] twitchax commented on #78
Hello!

Glad to hear that this library is working out well for you.  I think the best method would be to add to the options, and strip the headers.  Sort of like this.

[code]

So, the first thing to note here is that `UseHttp` has another optional parameter called `builderAction` which allows you to pass in an "options builder", which is basically just an instance of the default options.  Then, y

[2021-05-26 12:24] HarelM commented on #78
Thanks for the super quick response! I'll give it a go later tonight.
Just out of curiosity, shouldn't this be a part of this library and act as default case when returning a http2 response?

[2021-05-26 19:42] twitchax commented on #78
Yes, and that gives me a better idea.  ASP.NET might do the magic for us automatically.  It's not that HTTP/2 doesn't have headers: it's that HTTP/2 doesn't have plaintext headers.

Let me see if I can automatically detect the version override the response.

[2021-05-27 12:48] HarelM commented on #78
Thanks! I can confirm that clearing the headers solves the issue, but I would prefer a better solution. Let me know if you want me to test a pre-release NuGet version or something of that sort...

[2021-05-29 20:50] twitchax commented on #78
Hi @HarelM, yeah, I agree.

The problem is that stripping the headers is not _technically_ the right solution.  HTTP/2 allows for headers, but they are part of the body, I think.  I need to do more research to discover the exact correct response.

[2021-06-03 14:08] odin88 opened #79 "how to pass state , parameter in between methods ?"
I want to write a cache logic based on what I get in WithIntercept().
So how do share the variable, state to WithAfterReceive() ?

[2021-06-03 19:36] twitchax commented on #79
Yeah, you can use [`HttpContext.Items`](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-5.0#httpcontextitems).

[2021-06-03 19:36] #79 closed

[2021-06-03 20:45] HarelM commented on #78
I tried looking at the code in this repo tonight.
The following code copies the response message into the http context (which should be HTTP/2, shouldn't it?).
https://github.com/twitchax/AspNetCore.Proxy/blob/274bd4c0cbc715029edb2593dc05c7290055b076/src/Core/Extensions/Http.cs#L122
Interestingly I don't see the version being copied (which is expected), so I'm not sure why the headers are not "con

[2021-08-10 08:10] rtkelly13 opened #80 "Proxy Short Circuiting"
I have been experimenting with the proxy to try to depreciate a MVC4 site. I can't interfere with the original paths in any way so my new website has to be prefixed in order to avoid conflicts with the older website. I was hoping I could use the intercept feature of the proxy to skip proxying a certain set of endpoints for the new site and proxy everything else to the old site but that caused issu

[2021-08-10 08:29] twitchax commented on #80
Aha, very cool! :)

Honestly, `Intercept` was always meant to write a completely different response without proxying, but was not meant to call the next middleware.  So, I would prefer not to change `WithIntercept` because it was specifically designed for returning some type of error response indicating why a proxy request was intercepted and rejected.

However, I think this is a good feature to a

[2021-08-10 08:29] twitchax commented on #80
Aha, very cool! :)

Honestly, `Intercept` was always meant to write a completely different response without proxying, but was not meant to call the next middleware.  So, I would prefer not to change `WithIntercept` because it was specifically designed for returning some type of error response indicating why a proxy request was intercepted and rejected.

However, I think this is a good feature to a

[2021-08-10 13:11] rtkelly13 commented on #80
Glad you think this is a valid use case for your library!

I think I was absolutely abusing the `WithIntercept` functionality to try to achieve my goal, it makes absolute sense to not change that and think of an alternative approach. I think that is in keeping with the rest of the design too.

My intuitive approach would be to differentiate this functionality by using the `Run`/`Use` convention th

[2021-08-12 10:18] mpashkov commented on #78
Hello.  I am going to describe my problem. Maybe, you can help me to resolve it the best way.

I have the web-site which I reach throught the proxy. During the execuption of the request I get the exceptoin with the message: "The SSL connection could not be established, see inner exception. (the message of the inner exceptoin is The remote certificate is invalid according to the validation procedur

[2021-08-12 20:42] twitchax commented on #78
@mpashkov, this sounds like something that is unique to the server.  You may need to set the `Host` header to the Common Name of the server's certificate.

[2021-08-13 08:05] mpashkov commented on #78
Please, may you investigate the [link](http://partner.market.yandex.ru/pages/help/YML.xml) if you have a little bit time?

[2021-08-30 15:56] DavidBrower opened #82 "Post Requests?"
I've been puzzling how to use AspNetCore.Proxy to forward a Post request to a Web API Controller. Currently, the code looks like this:

       [HttpPost]
        [Route("[action]")]
        public async Task<ActionResult> Login(LoginViewModel model)
        {
            //return ProxyTo(serverUrl, LoginUri, model);
            HttpClient httpClient = new HttpClient();
            HttpResponseMess

[2021-09-01 09:17] moustafa11911 opened #83 "NullReferenceException when run proxy in .Net core 2.2"
Hello, I am getting this exception when run proxy

`System.NullReferenceException: Object reference not set to an instance of an object.
   at AspNetCore.Proxy.Basic.GetEndpointFromComputerAsync(HttpContext context, EndpointComputerToValueTask computer)
   at AspNetCore.Proxy.HttpExtensions.ExecuteHttpProxyOperationAsync(HttpContext context, HttpProxy httpProxy)
   at AspNetCore.Proxy.Basic.Execut

[2021-09-07 04:49] twitchax commented on #83
This is likely caused by the fact that you need to return a string in the else clause. Can you try returning a string in the else clause?

[2021-09-07 05:49] twitchax commented on #82
Hi @DavidBrower, sorry for the delay: I fractured my clavicle, and was out for a bit.

You don't need to return a response: the proxy function does everything for you. Check out this sample.

[code]

[2021-09-07 09:39] moustafa11911 commented on #83
thanks for reply, I use a default string at the end and the same issue exists

[code]

[2021-09-07 17:04] twitchax commented on #83
Interesting.  Can you try debug-printing those strings before you return them?  Is it possible the Configuration is empty?

[2021-09-07 17:16] moustafa11911 commented on #83
I checked the configuration and it is as the following

Configuration["AppSettings:ApiUrl"] => https://localhost:5001
Configuration["AppSettings:DefultApiUrl"] => https://localhost:3001

[2021-09-07 17:30] twitchax commented on #83
Ok, thanks!

Did you print those values from within that closure?  Basically, I want to know if the code inside that closure ever gets hit.  If it does, then something along `context.Request.Path` is `null`.

If it doesn't, then it is clear the problem is [here](https://github.com/twitchax/AspNetCore.Proxy/blob/274bd4c0cbc715029edb2593dc05c7290055b076/src/Core/Extensions/Basic.cs#L335).  Which mea

[2021-09-07 18:58] twitchax commented on #83
It looks like `GetRouteData()` can be null, so that may be the culprit.  I will push a patch, and you can try it out!

[2021-09-07 19:24] twitchax commented on #83
Can you please try the [updated package](https://www.nuget.org/packages/AspNetCore.Proxy/4.2.1)?

[2021-09-07 19:35] moustafa11911 commented on #83
Ok, will try it now

[2021-09-07 20:48] moustafa11911 commented on #83
Fixed now, thanks a lot for your great support.

[2021-09-07 20:49] #83 closed

[2021-10-06 09:42] af-jrb opened #84 "Retry proxied request"
Hi, I am trying to proxy some requests with a different authorization header (bearer token).
Now I would like to retry the request if the response is 401, so that I could use refresh the token first. Also I would like to retry only once. Is there a way to do it?

Note: For now I am defining the proxy on the controller.

[2021-10-06 15:13] joaocpribeiro commented on #84
I found a solution by myself after discussing with colleagues. Calling the proxy again from the `WithAfterReceive` function seems to work.

[2021-10-06 17:56] twitchax commented on #84
Hmmmm.  Glad you found a solution, but retry logic might be interesting to add.

[2021-10-21 06:11] joaocpribeiro commented on #84
@twitchax It sounds great to me. Important (IMO) would be the following acceptance criteria:
- Retry if a condition is satisfied.
- Allow other code to run before retry or if we decide to not retry.

[2021-10-27 13:23] vickyRathee opened #85 "Conditional redirect to proxy"
I want to check some conditions on DB, before making a redirect to proxy. Any suggestion on code below.

All, I need is get the worker URL from database using `getJobAsync()` function before making a request to proxy..Because there may be 100s of running workers and I need to use the specific worker URL to proxy from the API.

[code]

[2021-11-03 05:46] twitchax commented on #85
That should work just fine.  Does it not work?

[2021-11-09 09:48] vickyrathee commented on #85
No, it doesn't work. I tried to specify `Task<Task>` on return type, as Task.FromResult return a task with type T. So I need some way to return any type
[code]

**VS Console** -
I see 200 status on debug console

[code]
**API** -
but no data in API response. It says 204 status code

![image](https://user-images.githubusercontent.com/6106479/140901028-6d911675-fb60-4b85-8ff1-80a64a5eb076.png)

[2021-11-09 20:42] twitchax commented on #85
Can you try?

[code]

[2021-11-10 04:16] vickyrathee commented on #85
No that causes build errors -  `CS0127 Controller returns void, a return keyword must no be followed by an object expression.`

[2021-11-10 07:01] vickyrathee commented on #85
It only work when `Task` type is returned. I tried with `public async Task<Task>` as well, but it return 204 status from proxied API with no content

[2021-11-10 07:58] twitchax commented on #85
Sorry, I meant this.

[code]

[2021-11-11 18:01] twitchax commented on #85
Ok, I will need to try to repro.

Any chance you could add a test that repros your issue?

[2021-11-23 07:21] joaocpribeiro commented on #84
@h82258652 Sorry for the delayed response. Maybe it works, but I am struggling with an operation that I need to do between attempts. I need to access the user's claims. I noticed the `RetryAsync` has an `onRetry` action as parameter, but I don't find a way to access the claims from there.

[2021-12-07 17:00] manishtpatel opened #87 ".net version supported"
Document suggests that the only supported version are .net standard 2.0 and core 3.0. Is it still the case?

How about .net core 3.1, .net 5.0 and .net 6.0? Are they supported? Expect to work as expected?

[2022-02-12 21:20] ErenKrt opened #90 "Using with minimal API"
Hello, im trying use on my minimal api on net 6.0. I cant figure out, i tried some things but not work. Anybody know working way ?

[2022-02-13 05:44] twitchax commented on #90
Can you give some sample code that isn't working?

[2022-02-13 12:31] ErenKrt commented on #90
Hello again, when i tried access to "HttpProxyAsync" cant find any method because this extension of BaseController. Minimal API not using controller then i added `app.UseProxies` its working but swagger cant find endpoint of proxies and i needed that. My endpoint like that;

[code]

[2022-02-14 08:55] twitchax commented on #90
I see.  We just need to expose an extension method for that.  Adding now.

[2022-02-14 08:55] #90 closed

[2022-03-03 06:32] aik0n opened #91 "Reuse connection issue with SSL"
Hi, I have an odd problem. Described at
[Reuse connection error](https://stackoverflow.com/questions/71304539/aspnetcore-proxy-reuse-connection-error-message)

After some resolving phase SSRS in this case was published with SSL and an error was changed.
A current one is:

[code]

So, how to resolve this?
How I can log inner exception in this case?
I mean release published application. Is AspNetCor

[2022-03-04 21:59] aik0n commented on #91
Appliation http - SSRS http - works
Appliation https - SSRS http - reuse connection issue
Appliation https - SSRS https (IP address) - certificate issue
Appliation https - SSRS https (DNS name) - reuse connection issue
Appliation https - SSRS https (ignore SSL errors) - reuse connection issue

So, how to resolve "reuse connection issue"?

[2022-03-05 08:00] twitchax commented on #91
Hello!

Sorry, I was away on vacation, and I jsut now saw this.

The connection reuse issue probably has to do with `Keep-Alive` headers.  Can you try editing your `HttpClient`?  Try adding...

[code]

[2022-03-05 12:47] aik0n commented on #91
Hello.
Thanks for help. I added recomended settings and this not resolve the problem.
Also, I added a test proxy map route and have no problem with it.
So, the problem not in proxy lib, maybe network specific thing.

PS I use iframe with post action to application API
This request will be proxied with the can't reuse connection error

PPS HTTP Client configuration:

![image](https://user-images.gi

[2022-03-05 17:38] twitchax commented on #91
Ok, that was worth a try.  Kind of difficult to serving without a repro on my end.  Do you have a similar minimal case that you can share, but using a public endpoint?

[2022-03-07 16:08] aik0n commented on #91
It is difficult to coordinate with all interested parties.
Just for tests I added ".WithBeforeSend()" and keep-alive header in it.
It is not resolve the issue but error was changed.
Researching in progress...

![image](https://user-images.githubusercontent.com/39758281/157072137-8553e2ea-776b-432b-a979-ba73f07f3056.png)

[2022-03-08 06:32] twitchax commented on #91
Interesting: maybe something to do with [this](https://support.microsoft.com/en-us/topic/a-kerberos-authentication-fails-together-with-the-error-code-0x80090302-or-0x8009030f-on-a-computer-that-is-running-windows-server-2008-or-windows-vista-when-the-aes-algorithm-is-used-7c626c9c-8b41-bb98-2945-03e9d3621482)?

[2022-03-10 11:11] aik0n commented on #91
Okay, finally I have works solution.
No issues in proxy lib. Details matter.
Thank you for this support and advices and great proxy package.

In details:
In my case was helpful add .WithBeforeSend() Later I will provide full config.
The error message "The function requested is not supported" also happens with wrong credentials (or blocked user)
I didn't install any kerberos or NTLM fixes, service

[2022-03-10 11:11] #91 closed

[2022-03-15 08:42] twitchax commented on #91
Interesting: glad you got it figured out!

[2022-04-19 02:30] admalledd commented on #76
Going to +1 this, but with a slightly different use case: I have a need to conditionally proxy for legacy API compatibility reasons.

As in something like this is a pattern I wish to use:

[code]

That for other developers on my team it is very nice to stay in "ActionResult helper land" if we can help it. Just mostly asking/wondering about a way to tell/mock over a dummy IActionResult so that noth

[2022-04-20 05:27] twitchax commented on #76
Ok, makes sense.  I will have to think on this. :)

[2022-05-25 14:11] saliksaly opened #95 "Character encoding problem in Content-Disposition section in HTTP POST body (multipart/form-data requests)"
Hi,

I have encountered interesting problem with proxying http post requests - when uploading files.

Content-Type: multipart/form-data is used and form values are each in it's own Content-Disposition section (the format is described here: https://www.w3.org/TR/html401/interact/forms.html#h-17.13.4.2).

In Content-Disposition header, **characters in the filename value are malformed - different tha

[2022-05-26 05:10] saliksaly commented on #95
OK, I will add the test.

[2022-05-26 08:31] saliksaly commented on #95
Here is pull request for the failing test: #96

[2022-05-28 05:17] twitchax commented on #95
Thanks: I should have time to take a look this weekend!

[2022-05-30 22:31] delasource opened #97 "Provide better documentation"
well it may be in your case, but not in mine.

Other users see the usage of the api hard as well. See the other issues: "How would i write... " (#82) or "I Cant figure what i need write" (#90)

-----

In my case, i wanted to proxy my frontend to a react dev server running localhost:3000, which also includes a websocket connection on wss:localhost:3000/ws (for hot reload etc). I still have no clue

[2022-05-30 22:33] delasource commented on #90
"Minimal API" is a totally new approach from Microsoft, starting in .net6.0. You should really implement this, as it is a very very fast api framework. (which is not done by just implementing an interface method, to my knowledge)

[2022-06-01 05:24] twitchax commented on #90
@delasource, the performance improvements in .NET 6 apply across the board, regardless of whether or not you use minimal API.

Minimal API does two primary things, as far as I can tell:
1. Reduces cognitive overhead of creating controller-based APIs since controller-based APIs tend to have more boilerplate code, and
2. Somewhat reduces the dependency footprint when using _only_ minimal APIs.

In t

[2022-06-01 06:33] twitchax commented on #97
The second example [here](https://github.com/twitchax/AspNetCore.Proxy#run-a-proxy) would cover your use case.  So, you would just do something like:

[code]

If you want to do more complex operations, like pass along the `Path` to the backend server, then you could do something like this:

[code]

However, _and this is important_, this library is generally meant for complex scenarios where someth

[2022-06-01 07:31] twitchax commented on #87
Addressed!

[2022-06-01 18:13] twitchax commented on #95
Thanks!

[2022-06-01 18:24] twitchax commented on #95
Where are you capturing those files that you diffed?

[2022-06-01 19:17] twitchax commented on #95
The reason I ask is because I cannot repro.  When I forward the request to a an endpoint running in the same process by starting a background kestral server, the file name is correct.

<img width="593" alt="image" src="https://user-images.githubusercontent.com/549523/171484483-64f2850e-bc5f-4a96-a4fc-bf2fbb64035a.png">

[2022-06-03 23:01] twitchax commented on #95
@saliksaly, thoughts?

[2022-06-04 07:27] saliksaly commented on #95
Hi,

For comparison of behaviour, in all three cases the requests are sent to https://postman-echo.com/post (defined in https://github.com/saliksaly/proxy_http_post_multipard_bad_encoding_test/blob/master/Constants.cs).

You cannot repro? Ty to upload the same file with unicode characters in name in all three forms and you will see the difference...

[2022-06-05 04:51] twitchax commented on #95
I think the problem is with `postman`, as a I said before.  Have you tried this with something other than postman?

[2022-06-06 08:49] saliksaly commented on #95
No no, it is not the postman's problem.
Try again the test app: https://github.com/saliksaly/proxy_http_post_multipard_bad_encoding_test.
It now sends http posts to local application: https://github.com/saliksaly/proxy_http_post_multipard_bad_encoding_test (http://localhost:5141/file).

Here are the differences:

- Post file - direct - **file name ok**
![image](https://user-images.githubuserconten

[2022-06-06 19:28] twitchax commented on #95
That's the confusing part: I did try it on my own, and the `IFormFile` has the correct file name.
<img width="431" alt="image" src="https://user-images.githubusercontent.com/549523/172233127-df123a25-1a47-45b3-a2e2-2a91c44360d7.png">

[2022-06-06 21:05] twitchax commented on #95
Finally figured it out.  `HttpClient` uses an old school RFC for `Content-Disposition`, so I forced the header.

[2022-06-06 21:05] #95 closed

[2022-06-06 21:18] twitchax commented on #95
New release is [here](https://github.com/twitchax/AspNetCore.Proxy/releases/tag/v4.4.0).

[2022-06-07 06:02] saliksaly commented on #95
It already works! :-)
Thank you, very much :)

[2022-06-21 03:02] plutora-steve-g opened #98 "NullReferenceException when GetService<IHttpClientFactory>() fails"
In `ExecuteHttpProxyOperationAsync` the following code throws if IHttpClientFactory is not registered. Wasn't obvious to me what the cause was, ended up downloading the code and stepping through

[code]

Perhaps something along these lines:

[code]

[2022-06-22 04:31] twitchax commented on #98
Good idea: if you want to make the PR, then you can get credit. 😄

Otherwise, I am happy to do it.

[2022-08-23 15:14] MeikelLP opened #99 "[Question] Map all except controllers for SPA"
I previously tried to use `Microsoft.AspNetCore.SpaServices.Extensions` to develop a SPA (Vue) inside my aspnetcore app. Sadly this package does not support authentication thus everything send to my API controllers gets 304 redirected to my auth provider (Azure).

I thought maybe a "plain" proxy could do the same. That's how I landed here.

* I want to make every call to my app `/`, `/some.js`, ..

[2022-08-23 22:14] twitchax commented on #99
There are multiple ways to do this.  The easiest probably to use `MapWhen`, or to just be careful with the ordering.

You don't want `RunProxy` because `RunProxy` "stops" all other routing handlers registered with the middleware.

Can you share a snippet of your `UseProxy` code so I can help you with how to use it.  Usually, the way it works is that each thing you call like `Map` or `Use` is put o

[2022-08-24 08:09] MeikelLP commented on #99
Thanks for the quick response!

This is what my code looks like right now:

[code]

I do not want to forward my requests to a CDN. I have a local Vue dev server (vite.js) and aspnetcore should redirect every request except controller routes to that server.

[2022-08-24 11:40] MeikelLP commented on #99
I was able to make it work with this mapping:

[code]

Is this a good approach?

[2022-08-24 21:22] twitchax commented on #99
Yes, that should work, but I think you want to use `**` for nested folders, etc.  Using just `*` will escape things like slashes, so `my/path` would become `my%2Fpath`.  If you use `**`, then `my/path` stays as `my/path`.

[2022-08-24 21:40] MeikelLP commented on #99
That's interesting because it works for subfolders as well.
From what I understand from the [docs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-6.0#route-templates) is that `*` is equal to `**`. So it's just a matter of preference?

[2022-08-24 22:02] twitchax commented on #99
Cool: that's fine then. :)

[2022-08-25 06:00] #99 closed

[2022-09-29 19:02] milfordjosh opened #100 "Security Policy"
Hi, I see that there is no security policy listed currently for this project. Is there any such security policy that exists and is being used for this project development?
For example:
https://www.microsoft.com/en-us/securityengineering/sdl/practices
Thanks!

[2022-11-11 20:41] AntonC9018 opened #101 "Websockets fail to connect"
The plain HTTP requests work, however websockets fail to connect.

This is the error that I see in the browser console that attempts to establish the connection:
[code]

The relevant code:
[code]

I'm not seeing a websocket request being sent to the endpoint in the server console, but I do see a multiple of these quite suspicious logs:
[code]

I don't know much about HTTP headers, but they might b

[2022-11-11 20:45] AntonC9018 commented on #101
Request headers:
[code]

Response headers:
[code]

[2022-11-11 23:45] twitchax commented on #101
Have you ensured that WebSockets are enabled with `app.UseWebSockets()`?

[2022-11-12 04:14] AntonC9018 commented on #101
Nope, I have not, but I'd expect the app to crash with an error and definitely not silently ignore that. I implore you to add a check for it.

[2022-11-12 15:08] AntonC9018 commented on #101
Still though, the warnings about headers are still there, even after I've added `UseWebSockets()`.

[2022-11-12 15:09] AntonC9018 commented on #101
Might be relevant https://github.com/dotnet/aspnetcore/pull/33502

[2022-11-15 23:08] AntonC9018 commented on #101
As much as I don't agree with that philosophy, fair enough.

As for the headers, yes, I'm aware of that now, check out the issue I had linked.

[2022-11-17 19:48] AntonC9018 commented on #101
@twitchax Do you plan on fixing the unfiltered header warnings?